body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    font-size: 1.6rem;
}

:root {
    font-size: 62.5%;
}

.form {
    display: flex;
    gap: 1.0rem;
    margin-bottom: 1.0rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.0rem;
    border: .1rem solid #ccc;
    border-radius: .5rem;
    margin-bottom: .5rem;
    gap: 3.0rem;
}

li input[type="checkbox"] {
    margin-right: 1.0rem;
}

li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1.0rem;
    cursor: pointer;
}

h1 {
    color: rgb(206, 117, 9);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}

p {
    color: rgb(17, 0, 255);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
}

button {
    width: 7.5rem;
    height: 2.7rem;
    background-color: coral;
    color: white;
    border-radius: 1rem;
}